nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
