.outer {
  position: absolute;
}
.container {
  /* 모달창 크기 */
  width: 100px;
  height: 500px;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
}
.modalimg {
  position:absolute;
  border-radius: 10%;
  width: 300px;
  height: 400px;
  left:100px;
}
.rightcontent {
  position:relative;
  left:300px;
}