ul > li {
  display: block;
}
.menu {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #ffffff;
  box-sizing: border-box;
  color: #3faffa;
  font-size: 1.3rem;
  font-weight: 500;
}
.nav-links {
  color: black;
  font-size: large;
  text-decoration-line: none;
  font-weight: bold;
}
